/* https://easingwizard.com/ */

.draft-list {
  --spring: linear(
    0,
    0.012 0.9%,
    0.049 2%,
    0.409 9.3%,
    0.513 11.9%,
    0.606 14.7%,
    0.691 17.9%,
    0.762 21.3%,
    0.82 25%,
    0.868 29.1%,
    0.907 33.6%,
    0.937 38.7%,
    0.976 51.3%,
    0.994 68.8%,
    1
  );
}

.draft-list {
  @media (hover) and (prefers-reduced-motion: no-preference) {
    & > li {
      transform-origin: left center;
      transition:
        transform 1s var(--spring),
        opacity 0.3s var(--spring),
        max-width 0.3s var(--spring);
    }
  }

  &:hover > li:not(:hover) {
    opacity: 0.25;
    transform: scale(0.85);
  }
}
