@import 'tailwindcss';

@plugin 'tailwindcss-animate';
@plugin '@tailwindcss/typography';
@plugin 'tailwindcss-motion';

@custom-variant dark (&:is(.dark *));

@theme {
  --font-sans: var(--font-sans);
  --font-serif: var(--font-serif);
  --font-aboreto: var(--font-aboreto);

  /* breakpoint if needed */
  /* --breakpoint-*: initial;
  --breakpoint-sm: 480px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 976px;
  --breakpoint-xl: 1440px; */

  /* grays */
  --color-yume-gray-50: oklch(96.472% 0.00265 286.35);
  --color-yume-gray-100: oklch(93.003% 0.00346 247.86);
  --color-yume-gray-200: oklch(85.673% 0.00764 260.73);
  --color-yume-gray-300: oklch(78.186% 0.01216 264.5);
  --color-yume-gray-400: oklch(70.764% 0.01741 262.73);
  --color-yume-gray-500: oklch(62.898% 0.02257 264.4);
  --color-yume-gray-600: oklch(55.102% 0.02336 264.36);
  --color-yume-gray-700: oklch(45.509% 0.01801 260.7);
  --color-yume-gray-800: oklch(35.508% 0.01329 261.73);
  --color-yume-gray-900: oklch(24.312% 0.00818 264.41);
  --color-yume-gray-950: oklch(18.649% 0.00436 264.46);

  /* accent color */
  --color-yume-green-50: oklch(93.445% 0.04161 173.78);
  --color-yume-green-100: oklch(91.296% 0.05569 173.49);
  --color-yume-green-200: oklch(87.184% 0.0824 171.42);
  --color-yume-green-300: oklch(83.377% 0.10561 169.98);
  --color-yume-green-400: oklch(79.793% 0.12633 168.34);
  --color-yume-green-500: oklch(76.527% 0.14271 166.19);
  --color-yume-green-600: oklch(69.055% 0.13316 165.19);
  --color-yume-green-700: oklch(59.606% 0.11319 165.77);
  --color-yume-green-800: oklch(46.034% 0.0855 166.03);
  --color-yume-green-900: oklch(31.062% 0.05348 167.62);

  /* primary color */
  --color-yume-blue-50: oklch(98.393% 0.01477 158.26);
  --color-yume-blue-100: oklch(94.146% 0.04546 166.55);
  --color-yume-blue-200: oklch(90.38% 0.0694 176.67);
  --color-yume-blue-300: oklch(87.313% 0.09079 187.8);
  --color-yume-blue-400: oklch(82.561% 0.10326 201.59);
  --color-yume-blue-500: oklch(73.552% 0.11253 221.97);
  --color-yume-blue-600: oklch(62.227% 0.13628 243.47);
  --color-yume-blue-700: oklch(49.125% 0.14354 256.8);
  --color-yume-blue-800: oklch(37.834% 0.14415 265.1);
  --color-yume-blue-900: oklch(33.948% 0.14474 267.42);

  /* base color */
  --color-yume-white: oklch(99.07% 0.0034 354.69);
  /* warm white */
  --color-yume-white-darker: oklch(96.83% 0.008 27);

  --color-yume-black-lighter: oklch(20% 0.005 220);
  --color-yume-black: oklch(10% 0.01 250);
  /* cold black */

  /* primary color */
  --color-yume-blue-lighter: var(--color-yume-blue-500);
  --color-yume-blue-darker: var(--color-yume-blue-600);

  /* accent color */
  --color-yume-accent-lighter: var(--color-yume-green-400);
  --color-yume-accent-darker: var(--color-yume-green-500);

  /* destructive color */
  --color-yume-destructive-lighter: oklch(70% 0.18 25);
  --color-yume-destructive-darker: oklch(55% 0.18 25);
}

:root {
  --background: var(--color-yume-white);
  --foreground: var(--color-yume-black);
  --card: var(--color-yume-white-darker);
  --card-foreground: var(--color-yume-black);
  --muted: var(--color-yume-gray-50);
  --muted-foreground: var(--color-yume-gray-600);

  --primary: var(--color-yume-blue-darker);
  --primary-foreground: var(--color-yume-white);
  --secondary: var(--color-yume-blue-200);
  --secondary-foreground: var(--color-yume-gray-900);
  --accent: var(--color-yume-accent-darker);
  --accent-foreground: var(--color-yume-green-900);
  --destructive: var(--color-yume-destructive-darker);
  --destructive-foreground: var(--color-yume-gray-50);

  --popover: var(--color-yume-white);
  --popover-foreground: var(--color-yume-black);

  --border: var(--color-yume-gray-100);
  --input: var(--color-yume-gray-100);
  --ring: var(--color-yume-accent-darker);

  --radius: 0.6rem;

  /* no use */
  --chart-1: var(--color-yume-blue-400);
  --chart-2: var(--color-yume-green-500);
  --chart-3: var(--color-yume-blue-600);
  --chart-4: var(--color-yume-green-300);
  --chart-5: var(--color-yume-blue-200);
}

.dark {
  --background: var(--color-yume-black);
  --foreground: var(--color-yume-white);
  --card: var(--color-yume-black-lighter);
  --card-foreground: var(--color-yume-white);
  --muted: var(--color-yume-gray-950);
  --muted-foreground: var(--color-yume-gray-400);

  --primary: var(--color-yume-blue-lighter);
  --primary-foreground: var(--color-yume-blue-900);
  --secondary: var(--color-yume-blue-200);
  --secondary-foreground: var(--color-yume-gray-50);
  --accent: var(--color-yume-accent-lighter);
  --accent-foreground: var(--color-yume-green-800);
  --destructive: var(--color-yume-destructive-lighter);
  --destructive-foreground: var(--color-yume-gray-50);

  --popover: var(--color-yume-black);
  --popover-foreground: var(--color-yume-white);

  --border: var(--color-yume-gray-800);
  --input: var(--color-yume-gray-800);
  --ring: var(--color-yume-accent-lighter);

  /* no use */
  --chart-1: var(--color-yume-blue-300);
  --chart-2: var(--color-yume-green-400);
  --chart-3: var(--color-yume-blue-500);
  --chart-4: var(--color-yume-green-200);
  --chart-5: var(--color-yume-blue-100);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-foreground;
  }
}

@layer utility {
  .text-balance {
    text-wrap: balance;
  }

  .time {
    white-space: nowrap;
  }
}

@layer base {
  .flex-center {
    @apply flex items-center justify-center;
  }

  .flex-between {
    @apply flex items-center justify-between;
  }

  .section-gap {
    @apply mb-32;
  }
}
