:root {
  --spotlight-color: oklch(var(--base-spotlight) / 0.2);
  --spotlight-foreground: var(--color-yume-green-600);
  --shiki-code-linenumber: rgba(115,138,148,.4)
}

.dark {
  --base-spotlight: 83.377% 0.10561 169.98;
  --spotlight-color: oklch(var(--base-spotlight) / 0.2);
  --spotlight-foreground: var(--color-yume-green-400);
}

@theme inline {
  --color-yume-spotlight: var(--spotlight-color);
  --color-yume-spotlight-foreground: var(--spotlight-foreground);
}
